
<div class="background">
    <div>
    <mat-toolbar class="toolbar">
        <a>      
            <button class="home-icon" routerLink="/homepage" mat-flat-button><mat-icon>home</mat-icon></button>
        </a>
        <a><mat-button class="home-button" routerLink="/homepage"><h1>Genshin Impact Damage Calculator</h1></mat-button></a>
    </mat-toolbar> 
</div>

    <mat-tab-group class ="tabs" fxFlex dynamicHeight="false" mat-align-tabs="center" animationDuration="200ms" (selectedTabChange)="onSubmit(charForm, enemyForm)">
        <mat-tab class="stats" label="Stat Page">
            <div class="container">
                        <form novalidate class="statForm" (ngSubmit)="onSubmit(charForm, enemyForm)" #charForm="ngForm" >
    
                            <mat-card class="grid-card">
                                <img class="main-image" [src] = "url" alt="{{charName}}" layout-fill>
                                <mat-card-content>
                                    Character Name: {{charName}}
                                    <br>
                                    Character Rarity: {{charRarity}}
                                    <br>
                                    Character Weapon Type: {{charWeapon}}
                                    <br>
                                    Character Element: {{charElement}}
                                </mat-card-content>
                            </mat-card>
    
                            <mat-card class="grid-card">
    
                            <mat-card-title>Character Main Stats</mat-card-title>
    
                            <mat-card-content class="grid-card-content">
                
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Total Hp</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="totalHp" [ngModel]="charEntryData.totalHp" >
                            </mat-form-field>
                            <br>
                            
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Total Attack</mat-label>
                                <input matInput type="number" name="totalAttack" [ngModel]="charEntryData.totalAttack" >
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Base Attack</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="baseAttack" [ngModel]="charEntryData.baseAttack" >
                            </mat-form-field>
                            <br>
                        
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Total Defense</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="totalDefense" [ngModel]="charEntryData.totalDefense" >
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Elemental Mastery</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="elementalMastery" [ngModel]="charEntryData.elementalMastery" >
                            </mat-form-field>
                            <br>
                        
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Crit Rate</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="critRate" [ngModel]="charEntryData.critRate" >
                            </mat-form-field>
                            <br>
                        
                            
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Crit Damage</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="critDamage" [ngModel]="charEntryData.critDamage" >
                            </mat-form-field>
                            <br>
                        
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Energy Recharge</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="energyRecharge" [ngModel]="charEntryData.energyRecharge" >
                            </mat-form-field>
                            <br>
                        
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Healing Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="healingBonus" [ngModel]="charEntryData.healingBonus">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Character Level</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="characterLevel" [ngModel]="charEntryData.characterLevel">
                            </mat-form-field>
                            <br>
                            </mat-card-content>
                            </mat-card>
    
                            <div ngModelGroup="extraStats">
                                <mat-card class="grid-card">
                                <mat-card-title>Elemental Bonuses</mat-card-title>

                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Physical Damage Bonus</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="physicalDmgBonus" [ngModel]="charEntryData.extraStats.physicalDmgBonus">
                                </mat-form-field>
                                <br>
                            
                                <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Physical Damage Resist</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="physicalDmgRes" [ngModel]="charEntryData.extraStats.physicalDmgRes">
                                </mat-form-field> -->
                            
                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Anemo Damage Bonus</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="anemoDmgBonus" [ngModel]="charEntryData.extraStats.anemoDmgBonus">
                                </mat-form-field>
                                <br>
                        
                                <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Anemo Damage Resist</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="anemoDmgRes" [ngModel]="charEntryData.extraStats.anemoDmgRes">
                                </mat-form-field>
                                <br> -->
                            
                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Geo Damage Bonus</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="geoDmgBonus" [ngModel]="charEntryData.extraStats.geoDmgBonus">
                                </mat-form-field>
                                <br>
                            
                                <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Geo Damage Resist</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="geoDmgRes" [ngModel]="charEntryData.extraStats.geoDmgRes">
                                </mat-form-field>
                                <br> -->
                            
                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Electro Damage Bonus</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="electroDmgBonus" [ngModel]="charEntryData.extraStats.electroDmgBonus">
                                </mat-form-field>
                                <br>
                            
                                <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Electro Damage Resist</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="electroDmgRes" [ngModel]="charEntryData.extraStats.electroDmgRes">
                                </mat-form-field>
                                <br> -->

                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Hydro Damage Bonus</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="hydroDmgBonus" [ngModel]="charEntryData.extraStats.hydroDmgBonus">
                                </mat-form-field>
                                <br>
                            
                                <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Hydro Damage Resist</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="hydroDmgRes" [ngModel]="charEntryData.extraStats.hydroDmgRes">
                                </mat-form-field>
                                <br> -->
                            
                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Pyro Damage Bonus</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="pyroDmgBonus" [ngModel]="charEntryData.extraStats.pyroDmgBonus">
                                </mat-form-field>
                                <br>
                            
                                <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Pyro Damage Resist</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="hydroDmgRes" [ngModel]="charEntryData.extraStats.pyroDmgRes">
                                </mat-form-field>
                                <br> -->

                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Cryo Damage Bonus</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="hydroDmgRes" [ngModel]="charEntryData.extraStats.cryoDmgBonus">
                                </mat-form-field>
                                <br>

                                <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Cryo Damage Resist</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="hydroDmgRes" [ngModel]="charEntryData.extraStats.cryoDmgRes">
                                </mat-form-field>
                                <br> -->

                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Resistance Shred</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="resistanceShred" [ngModel]="charEntryData.extraStats.resistanceShred">
                                </mat-form-field>
                                <br>

                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Reaction Damage Bonus</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="reactionDamageBonus" [ngModel]="charEntryData.extraStats.reactionDamageBonus">
                                </mat-form-field>
                                <br>
                                
                                <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Stamina</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="stamina" [ngModel]="charEntryData.extraStats.stamina">
                                </mat-form-field>
                                <br> -->
                            
                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Incoming Healing Bonus</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="incomingHealingBonus" [ngModel]="charEntryData.extraStats.incomingHealingBonus">
                                </mat-form-field>
                                <br>
                            
                                <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Shield Strength</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="shieldStrength" [ngModel]="charEntryData.extraStats.shieldStrength">
                                </mat-form-field>
                                <br>
                            
                                <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                    <mat-label>Cooldown Reduction</mat-label>
                                    <input knifeNoCopyPaste matInput type="number" name="cdReduction" [ngModel]="charEntryData.extraStats.cdReduction">
                                </mat-form-field> -->
                                <br>
                                </mat-card>
                                </div>
    
    
                    <div ngModelGroup="otherDmgBonus">
    
                        <mat-card class="grid-card">
                        <mat-card-title>Other Damage Bonuses</mat-card-title>
                        <mat-card-content>

                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Normal Attack Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="normalAttackDmgBonus" [ngModel]="charEntryData.otherDmgBonus.normalAttackDmgBonus">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Normal Attack Crit Rate Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="normalAttackCritRateBonus" [ngModel]="charEntryData.otherDmgBonus.normalAttackCritRateBonus">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Charged Attack Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="chargedAttackDmgBonus" [ngModel]="charEntryData.otherDmgBonus.chargedAttackDmgBonus">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Charged Attack Crit Rate Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="normalAttackDmgBonus" [ngModel]="charEntryData.otherDmgBonus.normalAttackDmgBonus">
                            </mat-form-field>
                            <br>

                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Plunge Attack Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="plungeAttackDmgBonus" [ngModel]="charEntryData.otherDmgBonus.plungeAttackDmgBonus">
                            </mat-form-field>
                            <br>

                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Plunge Attack Crit Rate Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="plungeAttackCritRateBonus" [ngModel]="charEntryData.otherDmgBonus.plungeAttackCritRateBonus">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Elemental Skill Damage Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="elementalSkillDmgBonus" [ngModel]="charEntryData.otherDmgBonus.elementalSkillDmgBonus">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Elemental Skill Crit Rate Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="elementalSkillCritRateBonus" [ngModel]="charEntryData.otherDmgBonus.elementalSkillCritRateBonus">
                            </mat-form-field>
                            <br>

                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Elemental Burst Damage Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="elementalBurstDmgBonus" [ngModel]="charEntryData.otherDmgBonus.elementalBurstDmgBonus">
                            </mat-form-field>
                            <br>

                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Elemental Burst Crit Rate Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="elementalBurstCritRateBonus" [ngModel]="charEntryData.otherDmgBonus.elementalBurstCritRateBonus">
                            </mat-form-field>
                            <br>

                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>All Damage Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="allDmgBonus" [ngModel]="charEntryData.otherDmgBonus.allDmgBonus">
                            </mat-form-field>
                            <br>
                    
                            <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Movement Speed Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="movementSpeedBonus" [ngModel]="charEntryData.otherDmgBonus.movementSpeedBonus">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Attack Speed Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="attackSpeedBonus" [ngModel]="charEntryData.otherDmgBonus.attackSpeedBonus">
                            </mat-form-field>
                            <br> -->
                    
                            <!-- <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Weakspot Damage Bonus</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="weakspotDmgBonus" [ngModel]="charEntryData.otherDmgBonus.weakspotDmgBonus">
                            </mat-form-field>
                            <br> -->
                        </mat-card-content>
                    </mat-card>
                    </div>
    
    
                    <form class="statForm" novalidate #enemyForm="ngForm">
                        <div class="enemyStats">
                            <mat-card class="grid-card">
                            <mat-card-title>Enemy Stats</mat-card-title>

                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Enemy Level</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="enemyLevel" [ngModel]="enemyData.enemyLevel">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Enemy Physical Damage Resist</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="enemyPhysicalDmgRes" [ngModel]="enemyData.enemyPhysicalDmgRes">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Enemy Anemo Damage Resist</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="enemyAnemoDmgRes" [ngModel]="enemyData.enemyAnemoDmgRes">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Enemy Geo Damage Resist</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="enemyGeoDmgRes" [ngModel]="enemyData.enemyGeoDmgRes">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Enemy Electro Damage Resist</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="enemyElectroDmgRes" [ngModel]="enemyData.enemyElectroDmgRes">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Enemy Hydro Damage Resist</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="enemyHydroDmgRes" [ngModel]="enemyData.enemyHydroDmgRes">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Enemy Pyro Damage Resist</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="enemyPyroDmgRes" [ngModel]="enemyData.enemyPyroDmgRes">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Enemy Cryo Damage Resist</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="enemyCryoDmgRes" [ngModel]="enemyData.enemyCryoDmgRes">
                            </mat-form-field>
                            <br>
                    
                            <mat-form-field class="char-entry-form" [appearance]="appearance">
                                <mat-label>Enemy Defense Reduction</mat-label>
                                <input knifeNoCopyPaste matInput type="number" name="enemyDefReduction" [ngModel]="enemyData.enemyDefReduction">
                            </mat-form-field>
                            <br>
                        </mat-card>
                        </div>
                    </form>     
                    </form>
            </div>
        </mat-tab>
        <div class="tab-2">
        <mat-tab label= "Talents">  
                <app-result-display></app-result-display>
        </mat-tab>
        </div>
    </mat-tab-group>
</div>
