<!-- <div id ="atrb_entry">
<form name="char_stats">
    <fieldset>
    <legend>Character Atrributes</legend>

    <label for="atk">Character Total Attack</label><br>
    <input type ="number" #atk><br>

    <label for="ablitiy">Character Ability Scaling</label><br>
    <input type ="number" #ability><br>
    
    <label for="bonus">% damage bonus</label><br>
    <input type ="number" #bonus><br>
    
    <label for="crtrate">Crit Rate</label><br>
    <input type ="number" #crtrate><br>

    <label for="crtdmg">Crit Damage</label><br>
    <input type ="number" #crtdmg><br>
    
    <label for="charlvl">Character Level</label><br>
    <input type ="number" #charlvl><br>
    
    <label for="enmlvl">Enemy Level</label><br>
    <input type ="number" #enmlvl><br>

    <label for="defred">Defence Reduction %</label><br>
    <input type ="number" #defred><br>

    <label for="enmres">Enemy Resistence</label><br>
    <input type ="number" #enmres><br>

    <label for="resshred">Resistence Shred</label><br>
    <input type ="number" #resshred><br>

    <label for="elemental">Elemental Mastery</label><br>
    <input type ="number" #elemental><br>
    
    <label for="reaction">Reaction Type</label>
    <select id="reaction" (change) = "selectReaction($event)">
        <option value="none">None</option>
        <option value="vaporize">Vaporize(Hydro then Pyro)</option>
        <option value="revvaporize">Reverse Vaporize(Pyro then Hydro)</option>
        <option value="melt">Melt(Cryo then Pyro)</option>
        <option value="revmelt">Reverse Melt(Pyro then Cryo)</option>
        <option value="overload">Overload</option>
        <option value="electrocharged">ElectroCharged</option>
        <option value="shatter">Shatter</option>
        <option value="swirl">Swirl</option>
        <option value="vaporize">Superconduct</option>
        <option value="vaporize">Crystallize</option>
    </select><br>

    <label for="reactdmgbns">Reaction Damage Bonus</label><br>
    <input type ="reactdmgbns" #reactdmgbns><br>


    <button type="button" (click) ="OutputDmg()" >Submit</button>
    <button type="button" (click)="Clear()">Clear</button><br>
    
</fieldset>
</form>
</div> -->
<!-- <div>
 <app-attribute-entry></app-attribute-entry>
</div> -->

