<div class="background">    
    <mat-toolbar class="toolbar">
        <a><mat-button class="home-button" routerLink="/homepage"><h1>Genshin Impact Damage Calculator</h1></mat-button></a>
</mat-toolbar>  
 
    <div class ="char-nav">
    <mat-grid-list class ="grid-list" cols= "2" rowHeight="450px" gutterSize="2px">
        <mat-grid-tile class = "grid-tile">
            <a routerLink = '/calculator/1'>
            <img class="grid-image" src = "assets/amber.png" alt="Amber" layout-fill>
            <mat-grid-tile-footer class="title">Amber</mat-grid-tile-footer>
            </a>
        </mat-grid-tile>
        <mat-grid-tile class = "grid-tile">
            <a routerLink = '/calculator/2'>
            <img class="grid-image" src = "assets/barbara.png" alt="Barbara" layout-fill>
            <mat-grid-tile-footer class="title">Barbara</mat-grid-tile-footer>
            </a>
        </mat-grid-tile>
        <mat-grid-tile class = "grid-tile">
            <a routerLink = '/calculator/3'>
            <img class="grid-image" src = "assets/beidou.png" alt="Beidou" layout-fill>
            <mat-grid-tile-footer class="title">Beidou</mat-grid-tile-footer>
            </a>
        </mat-grid-tile>
        <mat-grid-tile class = "grid-tile">
            <a routerLink = '/calculator/4'>
            <img class="grid-image" src = "assets/bennett.png" alt="Bennett" layout-fill>
            <mat-grid-tile-footer class="title">Bennett</mat-grid-tile-footer>
            </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
</div>

